[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
cython = "*"
mido = "*"
msgpack = "*"
paho-mqtt = "*"
python-rtmidi = "*"

[requires]
python_version = "3.6"
